.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(100px);
  font-weight: 600;
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

.subtitle {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(60px);
  font-weight: 100;
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(30px);
  }
}

.button {
  transition: transform 0.2s ease;
  box-shadow: 0.2s ease;
}

.button:hover {
  transform: scale(1.05); /* Slightly enlarges the button */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Adds a shadow */
}

/* Decorative Images - Bottom Left */
.bottomLeftImage {
  position: absolute; 
  width: 25vw;
  height: auto;
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 2rem;
  z-index: 1; /* Ensure it appears above the background */
}

/* Decorative Images - Bottom Right */
.bottomRightImage {
  position: absolute;
  width: 24vw;
  height: auto;
  bottom: 0;
  right: 0;
  border-radius: 0 0 2rem 0;
  z-index: 1; /* Ensure it appears above the background */
}

