.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: rem(-2px);

  @media (min-width: 1900px) {
    font-size: 8rem;
  }

  @media (max-width: $mantine-breakpoint-xl) {
    font-size: 5rem;
  }

  @media (max-width: $mantine-breakpoint-lg) {
    font-size: 4rem;
  }

  @media (max-width: $mantine-breakpoint-md) {
    font-size: 3rem;
  }
}

.subtitle {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: rem(-2px);

  @media (min-width: 1900px) {
    font-size: 3.5rem;
  }

  @media (max-width: $mantine-breakpoint-xl) {
    font-size: 2.5rem;
  }

  @media (max-width: $mantine-breakpoint-lg) {
    font-size: 2rem;
  }

  @media (max-width: $mantine-breakpoint-md) {
    font-size: 1.5rem;
  }
}

.grid {
  min-width: 80%;
  max-width: 85%;
  margin-top: 8vh;
  
  @media (max-height: 1000px) {
    margin-top: 6vh;
  }

  @media (max-height: 950px) {
    margin-top: 4vh;
  }
}

.steplist {
  padding-top: 5vh;
}

.steptext {
  font-size: 1.5rem;

  @media (min-width: 2000px) {
    font-size: 2.125rem;
  }

  @media (max-height: 950px) {
    font-size: 1.25rem;
  }

  @media (max-height: 800px) {
    font-size: 1.15rem;
  }

}

.button {
  transition: transform 0.2s ease;
  box-shadow: 0.2s ease;
  margin-top: 8vh;
  width: 300px;

  @media (max-height: 750px) {
    margin-top: 6vh;
  }

  @media (min-width: 2000px) {
    width: 400px;
    height: 75px;
  }
}

.button:hover {
  transform: scale(1.05); /* Slightly enlarges the button */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Adds a shadow */
}

/* Decorative Images - Bottom Left */
.bottomLeftImage {
  position: absolute; 
  width: 25vw;
  height: auto;
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 2rem;
  z-index: 1; /* Ensure it appears above the background */

  @media (max-height: 900px) {
    width: 22vw;
  }

  @media (max-height: 750px) {
    width: 18vw;
  }
}

/* Decorative Images - Bottom Right */
.bottomRightImage {
  position: absolute;
  width: 24vw;
  height: auto;
  bottom: 0;
  right: 0;
  border-radius: 0 0 2rem;
  z-index: 1; /* Ensure it appears above the background */

  @media (max-height: 900px) {
    width: 22vw;
  }

  @media (max-height: 750px) {
    width: 18vw;
  }
}

