.content {
    height: 50vh;
    width: 90%;
    margin: 0 auto;
    padding-top: 5vh;

    @media (max-height: 900px) {
        padding-top: 1.5vh;
        height: 47vh;
    }
}

.choices {
    justify-content: center;
    padding-top: 6vh;
    gap: 2rem;

    @media (max-height: 800px) {
        padding-top: 4vh;
        gap: 1rem;
    }
}

.button {
    transition: transform 0.2s ease;
    box-shadow: 0.2s ease;
    margin-top: 4vh;
    width: 150px;

    @media (max-height: 800px) {
        margin-top: 1.5vh;
    }
  }