.outterContainer {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: inherit;
}

.glassEffect {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
  backdrop-filter: blur(10px); /* Apply the frosted glass effect */
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

.content{
  display: flex;
  width: 70%;
  align-items: start;
  height: 70%;
}

.poster{
  width: 70%;
  min-width: 180px;
  margin-top: 5vh;
}

.details{
  padding-left: 2rem;
  max-height: 50%;
  max-width: 55%;
  margin-top: 5vh;
}

.title{
  @media (min-width: 1800px) {
    font-size: 3rem;
  }
}

.moreButton {
  transition: transform 0.2s ease;
  box-shadow: 0.2s ease;
  width: 60px;
  height: 60px;
  min-width: 200px;

  @media (max-height: 800px) {
      margin-top: 1.5vh;
  }
}

.button {
  transition: transform 0.2s ease;
  box-shadow: 0.2s ease;
  width: 250px;
  height: 60px;
  min-width: 200px;

  @media (max-height: 800px) {
      margin-top: 1.5vh;
  }
}
